@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Inter', sans-serif;
}

$black : #000;
$blue : #2377d9;
$red : #e22d24;
$green : #63C132;
$white : #fff;

$transition : 0.2s ease-in-out;
$box-shadow : 4px 6px 20px #00000033;

.btn {
    display: block;
    max-width: 220px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-family: 'Inter', sans-serif; 
    outline: none;
    &_rounded {
        border-radius: 8px;
        background-color: $red;
        color: $white;
        &:hover {
            background-color: $blue;
            box-shadow: $box-shadow;
        }
    }
    &_register {
        border-radius: 8px;
        background-color: $red;
        color: $white !important;
        font-weight: 700;
        &:hover {
            background-color: $blue;
            box-shadow: $box-shadow;
        }
    }
    &_enter {
        border-radius: 8px;
        background-color: $green;
        color: $white !important;
        font-weight: 700;
        &:hover {
            background-color: $blue;
            box-shadow: $box-shadow;
        }
    }
}

.hash {
    color: $blue;
    font-weight: 700;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    box-shadow: $box-shadow;
    width: 100%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    background: $white;
}

.header {
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 80%;
    &__img {
        height: 100%;
    }
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    &__link {
        color: $black;
        font-size: 14px;
        text-decoration: none;
        &:hover {
            color: $blue;
        }
    }
}

.wallpaper {
    margin-top: 60px;
    background-image: url(../media/Frame11.png);
    height: 700px;
    &__container {
        display: flex;
        justify-content: flex-end;
        height: 700px;
        align-items: center;
    }
}

.wallpaper-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    color: #000;
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: $box-shadow;
    gap: 20px;
    &__header {
        font-size: 36px;
        line-height: 48px;
    }
    &__text {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 18px;
    }
}

.info {
    margin-top: 120px;
    margin-bottom: 120px;
    &__row {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    &__col {
        flex-direction: column;
        width: 50%;
        display: flex; 
        justify-content: center;
        gap: 20px;
    }
    &__img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
    }
    &__header {
        font-size: 36px;
        line-height: 48px; 
    }
    &__text {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 18px;
    }
}

.course {
    gap: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 120px;
    &__row {
        display: flex;
        flex-direction: row;
        gap: 60px;
        justify-content: center;
        width: 80%;
    }
    &__col {
        display: flex;
        flex-direction: column;
    }
    &__header {
        font-size: 36px;
        line-height: 48px;
        text-align: center;
    }
}

.course-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #fff;
    box-shadow: $box-shadow;
    border-radius: 8px;
    max-width: 280px;
    &__header {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 10px;
        text-align: center;
    }
    &__text {
        color: #8b8b8b;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    &__img {
        width: 48px;
        height: 48px;
        margin-bottom: 20px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #ffffff33;
    backdrop-filter: blur(18px);
    z-index: 20;
}

.popup {
    box-shadow: 4px 6px 20px rgb(0 0 0 / 20%);
    width: 100%;
    max-width: 450px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: calc(50% - 380px);
    height: auto;
    background: #fff;
    border-radius: 16px;
    padding: 40px;
    &_request {
        top: calc(50% - 330px);
    }
    &_login {
        top: calc(50% - 170px);
    }
    &__row {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        margin-bottom: 48px;
        &:nth-last-child(1) {
            margin-bottom: 0;
        }
    }
    &__header {
        font-size: 36px;
        line-height: 48px;
    }
    &__icon {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__text {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 18px;
    }
}

.form {
    width: 100%;
    &__row {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        align-items: flex-end;
    }
    &__input {
        width: calc(100% - 50px);
        border-radius: 8px;
        padding: 16px 24px;
        border: none;
        margin-bottom: 24px;
        outline: none;
        font-size: 16px;
        border:1px solid #8b8b8b;
        transition: $transition; 
        font-family: 'Inter', sans-serif;  
        resize: none;
        &:focus, &:not(:placeholder-shown), &:-webkit-autofill {
            box-shadow: $box-shadow;
            border: 1px solid #fff;
            &+label { 
                transform: translate(0px, -24px);
                font-size: 12px;
                background: #fff;
                padding: 2px 8px;
                border-radius: 4px;
            }
          }
    } 
    &__select {
        width:  100% ;
        border-radius: 8px;
        padding: 16px 24px;
        border: none;
        margin-bottom: 24px;
        outline: none;
        font-size: 16px;
        border:1px solid #8b8b8b;
        transition: $transition; 
        font-family: 'Inter', sans-serif;  
        &:focus, &:not(:placeholder-shown), &:-webkit-autofill {
            box-shadow: $box-shadow;
            border: 1px solid #fff;
            &+label { 
                transform: translate(0px, -24px);
                font-size: 12px;
                background: #fff;
                padding: 2px 8px;
                border-radius: 4px;
            }
          }       
    }
    &__label {
        font-size: 16px;
        position: absolute;
        top: 16px;
        left: 24px;
        transition: $transition; 
        pointer-events:none;
        font-family: 'Inter', sans-serif;  
    } 
}